$myFont: Helvetica, sans-serif;
$bg-color-white: #ffffff;
$bg-color-green: #39ffbf;
$bg-color-green-2: #35ffbf;
$bg-color-blue: #527ceb;
$bg-color-red: #f81d39;
$bg-color-red-2: #f00e2e;
$bg-color-grey: #3d3d3d;
$bg-color-grey-2: #333333;
$bg-color-violet: #1f1e38;
$bg-color-light-grey: #000000b3;
$bg-color-dark: #000000e6;
$text-color-white1: #ffffff;
$text-color-white2: #ffffffb0;
$text-color-white3: #ffffff99;
$text-color-white4: #ffffff80;
$text-color-white5: #ffffffb3;
$text-color-white6: #ffffffcc;
$text-color-white7: #ffffff66;
$text-color-green: #39ffbf;
$text-color-aquagreen: #aaaaaa;
$text-color-lightblue: #1bb0ce;
$text-color-aqua: #818a91;
$text-color-dark-green: #888888;
$text-color-red: #f81d39;
$text-color-darkgreen: #444444;
$text-color-darkgreen2: #3d3d3d;
$text-color-violet: #1f1e38;
$text-color-darkaqua: #1f1e38b3;
$text-color-lightgrey: #1f1e3880;
$text-color-darklightgrey: #1f1e3899;
$text-color-black: #000000;
$fill-color-white: #ffffff;
$fill-color-black: #000000;
$border-color-white1: #ffffff;
$border-color-white2: #ffffff26;
