.border-red {
  border: 2px solid red;
}
.border-black {
  border: 2px solid black;
}
.border-white {
  border: 2px solid white;
}
.d-flex {
  display: flex;
}

.jcstart {
  justify-content: start;
}

.jccenter {
  justify-content: center;
}

.jcend {
  justify-content: end;
}

.aistart {
  align-items: flex-start;
}

.aicenter {
  align-items: center;
}

.aiend {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.jcbetween {
  justify-content: space-between;
}

.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-67 {
  width: 67%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.d-inline-block {
  display: inline-block;
}

.flex-grow {
  flex-grow: 1;
}

.ps-1 {
  padding-left: 0.25rem;
}

.ps-2 {
  padding-left: 0.5rem;
}

.ps-3 {
  padding-left: 1rem;
}

.ps-4 {
  padding-left: 1.5rem;
}

.ps-5 {
  padding-left: 3rem;
}
.ps-6 {
  padding-left: 5.5rem;
}

.pe-1 {
  padding-right: 0.25rem;
}

.pe-2 {
  padding-right: 0.5rem;
}

.pe-3 {
  padding-right: 1rem;
}

.pe-4 {
  padding-right: 1.5rem;
}

.pe-5 {
  padding-right: 3rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}
.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.px-3 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.px-4 {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.px-5 {
  padding-right: 3rem;
  padding-left: 3rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pt-5 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.pb-5 {
  padding-bottom: 3rem;
}
.text-uppercase {
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.text-white {
  color: white;
}
.fs-1 {
  font-size: 2.5rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 1.75rem;
}
.fs-4 {
  font-size: 1.5rem;
}
.fs-5 {
  font-size: 1.25rem;
}
.fs-6 {
  font-size: 1rem;
}
.fs-7 {
  font-size: 0.7rem;
}
.fs-8 {
  font-size: 0.5rem;
}
